* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #606060;
}

.logo {
  top: 1rem;
  left: 1rem;
  width: 6rem;
}

.danger-icon:hover {
  color: #d16969;
}

.w-min {
  width: fit-content;
}

.text-main {
  color: #019c7c;
}

.flex-1 {
  flex: 1;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.relative {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
}
.container .box {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border: 1px solid #dcdcdc;
  padding: 2rem 2rem 4rem 2rem;
  width: 100vw;
  max-width: 72rem;
}
.container .box .input-container {
  position: relative;
}
.container .box .input-container i,
.container .box .input-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.selection-box {
  padding: 1.75rem 2.5rem 6rem 2.5rem !important;
}
.selection-box h2 {
  text-align: center;
  margin-bottom: 3.5rem;
  color: #019c7c;
  font-weight: bold;
}
.selection-box .options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.selection-box .options-container .box-option {
  padding: 2.5rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.15s ease;
  max-width: 50%;
  width: 20rem;
  text-align: center;
}
.selection-box .options-container .box-option:hover {
  transform: scale(1.05);
  border-color: #019c7c;
  color: #019c7c;
}
.selection-box .options-container .box-option i, .selection-box .options-container .box-option svg {
  font-size: 6.5rem;
  display: block;
  margin-bottom: 0.1 0.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #bbcec6;
}
.selection-box .options-container .box-option span {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  color: #79af98;
}

.subir-archivos-box {
  border-radius: 8px;
}
.subir-archivos-box th {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 5px solid white;
}
.subir-archivos-box .archivo-item {
  background: #f5f5f5;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border-bottom: 10px solid white;
}
.subir-archivos-box .archivo-item tr, .subir-archivos-box .archivo-item td {
  padding: 0.75rem 1.25rem;
}
.subir-archivos-box .archivo-item .archivo-info i,
.subir-archivos-box .archivo-item .archivo-info svg {
  font-size: 1.25rem;
  margin-right: 1.25rem;
  color: #019c7c;
}
.subir-archivos-box .archivo-item .archivo-info span {
  margin-right: 1.25rem;
}
.subir-archivos-box .archivo-item .archivo-buttons i,
.subir-archivos-box .archivo-item .archivo-buttons svg {
  margin-left: 10px;
  transition: all 0.15s ease;
}
.subir-archivos-box .archivo-item .archivo-buttons .fa-trash:hover {
  color: #d16969;
}
.subir-archivos-box .archivo-item .archivo-buttons .fa-eye:hover {
  color: #019c7c;
}

/*------------------------*/
input:focus,
button:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}

/*----------step-wizard------------*/
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/*---------signup-step-------------*/
.bg-color {
  background-color: #333;
}

.signup-step-container {
  padding: 115px 0px;
  padding-bottom: 60px;
}

.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 85px;
  text-align: center;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #0e214b;
  font-weight: 500;
  border: 1px solid #ddd;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #019c7c;
  color: #fff;
  border-color: #019c7c;
  transition: all 0.3s ease-in-out;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

.wizard .nav-tabs > li.active > a i {
  color: white;
}

.wizard .nav-tabs > li {
  width: 20%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}

.wizard .nav-tabs > li a h6 {
  position: absolute;
  top: 65px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  left: 26px;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.wizard .nav-tabs > li a i,
.wizard .nav-tabs > li a svg {
  font-size: 1.15rem;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}

.wizard h3 {
  margin-top: 0;
}

.prev-step,
.next-step {
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}

.next-step {
  background-color: #019c7c;
  color: white;
}

.skip-btn {
  background-color: #cec12d;
}

.step-head {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.term-check {
  font-size: 14px;
  font-weight: 400;
}

/*  */
/*  */
.footer-link {
  margin-top: 30px;
}

.list-content {
  margin-bottom: 10px;
}

.list-content a {
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}

.list-content a[aria-expanded=true] i {
  transform: rotate(180deg);
}

.list-content a i {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fdfdfd;
}

.list-box {
  padding: 10px;
}

.signup-logo-header .logo_area {
  width: 200px;
}

.signup-logo-header .nav > li {
  padding: 0;
}

.signup-logo-header .header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-inline li {
  display: inline-block;
}

.pull-right {
  float: right;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type=checkbox] {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

input[type=checkbox]::before,
input[type=checkbox]::after {
  position: absolute;
  content: "";
  display: inline-block;
}

input[type=checkbox]::before {
  height: 16px;
  width: 16px;
  border: 1px solid #999;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border-radius: 2px;
}

input[type=checkbox]::after {
  height: 5px;
  width: 9px;
  left: 4px;
  top: 4px;
}

input[type=checkbox]:checked::after {
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

/* input[type="checkbox"]:checked::before{
    background-color: #18ba60;
    border-color: #18ba60;
} */
@media (max-width: 767px) {
  .sign-content h3 {
    font-size: 40px;
  }

  .wizard .nav-tabs > li a i {
    display: none;
  }

  .signup-logo-header .navbar-toggle {
    margin: 0;
    margin-top: 8px;
  }

  .signup-logo-header .logo_area {
    margin-top: 0;
  }

  .signup-logo-header .header-flex {
    display: block;
  }
}
.form-control {
  margin-bottom: 0.7rem;
}

label {
  margin-bottom: 0.35rem;
}

.document-input {
  margin-bottom: 1.25rem;
}

:root {
  --main-theme-color:#019c7c;
  --main-dark-grey:#586273;
  --main-light-grey: #f5f7fa;
  --main-theme-color-05:#f5f5f5;
  --font-buttons: "Heebo", sans-serif;
  --box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
}

td.active.day,
span.year.active {
  background-color: #019c7c !important;
  background: #019c7c !important;
}

.ui-menu .ui-menu-item {
  box-sizing: border-box;
  padding: 0 !important;
}

/*------------ DATE INPUT -------------*/
.date_time {
  background-color: white;
  width: 150px;
  display: flex;
  align-items: center;
  border-radius: 0.15rem;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 36px;
}

.date_time span {
  background-color: var(--main-light-grey);
  color: #ddd;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  align-items: center;
  border-radius: 0 0.15rem 0.15rem 0;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  height: 36px;
  border-right: none;
}

.date_time input {
  height: 100%;
  width: 150px;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;
  letter-spacing: 3px;
  text-align: center;
  padding-right: 36px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0.15rem;
}

.ui-datepicker {
  margin-top: 5px;
  padding: 0 !important;
  box-shadow: var(--box-shadow);
  border: none;
}

.ui-datepicker .ui-datepicker-header {
  background: none !important;
  border: 0;
  background-color: var(--main-theme-color) !important;
  color: white;
  font-family: var(--font-buttons);
  letter-spacing: 1px;
  font-weight: 100;
  border-radius: 0.15rem 0.15rem 0 0;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background-color: transparent !important;
  border: none !important;
  top: 2px !important;
}

.ui-datepicker a:hover {
  text-decoration: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../images/icons_3/right_arrow_1.svg") !important;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  opacity: 0.4;
}

.ui-datepicker th {
  font-weight: 100 !important;
  font-family: var(--font-buttons);
  font-size: 13px;
  padding: 0.5em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: var(--main-theme-color-05) !important;
  color: grey !important;
  font-family: var(--font-buttons);
  font-weight: 100 !important;
  letter-spacing: 1px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: white !important;
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: white !important;
  background-color: var(--main-theme-color) !important;
}

.ui-datepicker td a.ui-state-hover.ui-state-default {
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
  background-color: white !important;
}

.ui-datepicker td a.ui-state-hover.ui-state-highlight {
  background-color: white !important;
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
}

.ui-datepicker table {
  margin: 0.15em !important;
  width: -webkit-fill-available !important;
}

/*------------ TIME INPUT ------------*/
.ui-timepicker.ui-menu {
  position: absolute !important;
  top: 0 !important;
}

ul.ui-timepicker-viewport {
  width: auto !important;
}

.ui-timepicker-standard {
  margin-top: 5px !important;
  box-sizing: border-box;
  margin-left: 2px !important;
  border-radius: 0.15rem;
  box-shadow: var(--box-shadow);
  border: none !important;
  width: 149px !important;
  padding: 0 !important;
  z-index: 4 !important;
}

.ui-timepicker-standard a {
  padding: 0.3em 0.4em !important;
  text-decoration: none;
  font-family: var(--font-buttons);
  font-size: 13.5px;
  letter-spacing: 1px;
  color: grey !important;
  font-weight: 100;
}

.ui-timepicker-standard a.ui-state-hover {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--main-theme-color-05) !important;
  color: var(--main-theme-color) !important;
}

.ui-timepicker ::-webkit-scrollbar {
  width: 8px;
}

.ui-timepicker ::-webkit-scrollbar-track {
  background: rgba(17, 36, 45, 0.3);
  background-color: var(--main-light-grey);
}

.ui-timepicker ::-webkit-scrollbar-thumb {
  background: #ddd;
}

.ui-timepicker ::-webkit-scrollbar-thumb:hover {
  background: var(--main-theme-color);
}

.combobox {
  position: relative;
  margin-bottom: 30px;
}
.combobox input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}
.combobox ul {
  max-height: 10rem !important;
  overflow: auto;
  position: absolute;
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid #ccc;
  z-index: 2;
}
.combobox ul li {
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.combobox ul li p {
  font-size: 12px;
}
.combobox ul li:hover {
  color: white;
  background: #019c7c;
}

.loader-container {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

.loader {
  position: relative;
}
.loader .dot {
  animation-name: movement;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  height: 10px;
  position: absolute;
  top: -10px;
  transform: translate3d(0, -25px, 0) scale(1);
  width: 10px;
}
.loader .dot:nth-of-type(1) {
  animation-delay: -0.1s;
  left: 150px;
}
.loader .dot:nth-of-type(1)::before {
  animation-delay: -0.1s;
}
.loader .dot:nth-of-type(2) {
  animation-delay: -1.2s;
  left: 150px;
}
.loader .dot:nth-of-type(2)::before {
  animation-delay: -1.2s;
}
.loader .dot:nth-of-type(3) {
  animation-delay: -0.3s;
  left: 125px;
}
.loader .dot:nth-of-type(3)::before {
  animation-delay: -0.3s;
}
.loader .dot:nth-of-type(4) {
  animation-delay: -1.4s;
  left: 125px;
}
.loader .dot:nth-of-type(4)::before {
  animation-delay: -1.4s;
}
.loader .dot:nth-of-type(5) {
  animation-delay: -0.5s;
  left: 100px;
}
.loader .dot:nth-of-type(5)::before {
  animation-delay: -0.5s;
}
.loader .dot:nth-of-type(6) {
  animation-delay: -1.6s;
  left: 100px;
}
.loader .dot:nth-of-type(6)::before {
  animation-delay: -1.6s;
}
.loader .dot:nth-of-type(7) {
  animation-delay: -0.7s;
  left: 75px;
}
.loader .dot:nth-of-type(7)::before {
  animation-delay: -0.7s;
}
.loader .dot:nth-of-type(8) {
  animation-delay: -1.8s;
  left: 75px;
}
.loader .dot:nth-of-type(8)::before {
  animation-delay: -1.8s;
}
.loader .dot:nth-of-type(9) {
  animation-delay: -0.9s;
  left: 50px;
}
.loader .dot:nth-of-type(9)::before {
  animation-delay: -0.9s;
}
.loader .dot:nth-of-type(10) {
  animation-delay: -2s;
  left: 50px;
}
.loader .dot:nth-of-type(10)::before {
  animation-delay: -2s;
}
.loader .dot:nth-of-type(11) {
  animation-delay: -1.1s;
  left: 25px;
}
.loader .dot:nth-of-type(11)::before {
  animation-delay: -1.1s;
}
.loader .dot:nth-of-type(12) {
  animation-delay: -2.2s;
  left: 25px;
}
.loader .dot:nth-of-type(12)::before {
  animation-delay: -2.2s;
}
.loader .dot:nth-of-type(13) {
  animation-delay: -1.3s;
  left: 0px;
}
.loader .dot:nth-of-type(13)::before {
  animation-delay: -1.3s;
}
.loader .dot:nth-of-type(14) {
  animation-delay: -2.4s;
  left: 0px;
}
.loader .dot:nth-of-type(14)::before {
  animation-delay: -2.4s;
}
.loader .dot:nth-of-type(15) {
  animation-delay: -1.5s;
  left: -25px;
}
.loader .dot:nth-of-type(15)::before {
  animation-delay: -1.5s;
}
.loader .dot:nth-of-type(16) {
  animation-delay: -2.6s;
  left: -25px;
}
.loader .dot:nth-of-type(16)::before {
  animation-delay: -2.6s;
}
.loader .dot:nth-of-type(17) {
  animation-delay: -1.7s;
  left: -50px;
}
.loader .dot:nth-of-type(17)::before {
  animation-delay: -1.7s;
}
.loader .dot:nth-of-type(18) {
  animation-delay: -2.8s;
  left: -50px;
}
.loader .dot:nth-of-type(18)::before {
  animation-delay: -2.8s;
}
.loader .dot:nth-of-type(19) {
  animation-delay: -1.9s;
  left: -75px;
}
.loader .dot:nth-of-type(19)::before {
  animation-delay: -1.9s;
}
.loader .dot:nth-of-type(20) {
  animation-delay: -3s;
  left: -75px;
}
.loader .dot:nth-of-type(20)::before {
  animation-delay: -3s;
}
.loader .dot:nth-of-type(21) {
  animation-delay: -2.1s;
  left: -100px;
}
.loader .dot:nth-of-type(21)::before {
  animation-delay: -2.1s;
}
.loader .dot:nth-of-type(22) {
  animation-delay: -3.2s;
  left: -100px;
}
.loader .dot:nth-of-type(22)::before {
  animation-delay: -3.2s;
}
.loader .dot:nth-of-type(23) {
  animation-delay: -2.3s;
  left: -125px;
}
.loader .dot:nth-of-type(23)::before {
  animation-delay: -2.3s;
}
.loader .dot:nth-of-type(24) {
  animation-delay: -3.4s;
  left: -125px;
}
.loader .dot:nth-of-type(24)::before {
  animation-delay: -3.4s;
}
.loader .dot:nth-of-type(25) {
  animation-delay: -2.5s;
  left: -150px;
}
.loader .dot:nth-of-type(25)::before {
  animation-delay: -2.5s;
}
.loader .dot:nth-of-type(26) {
  animation-delay: -3.6s;
  left: -150px;
}
.loader .dot:nth-of-type(26)::before {
  animation-delay: -3.6s;
}
.loader .dot::before {
  animation-name: size-opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  background: #57bd93;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
.loader .dot:nth-of-type(even)::before {
  background-color: #0f915b;
}

@keyframes movement {
  0% {
    transform: translate3d(0, -25px, 0);
    z-index: 0;
  }
  50% {
    transform: translate3d(0, 25px, 0);
    z-index: 10;
  }
  100% {
    transform: translate3d(0, -25px, 0);
    z-index: -5;
  }
}
@keyframes size-opacity {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.35;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=login.css.map */
