::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bcbcbc;
}

.text-js {
  margin-bottom: 1rem;
}

.typing-animation {
  width: 5px;
  background: #1a9c7c;
  height: 15px;
  animation: typing 0.6s alternate infinite linear;
  color: #019c7c;
  display: inline-block;
}

.typing-animation {
  width: 5px;
  background: #1a9c7c;
  height: 15px;
  animation: typing 0.6s alternate infinite linear;
  color: #019c7c;
  display: inline-block;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.especialists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.especialists-grid .userCard {
  padding: 2.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.especialists-grid .userCard img {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 8px solid white;
  width: 100%;
  max-width: 10rem;
  border-radius: 999px;
  aspect-ratio: 1;
  object-fit: cover;
}
.especialists-grid .userCard .name {
  margin: 0.5rem 0;
  font-size: 1.15rem;
  font-weight: bold;
}
.especialists-grid .userCard .desc {
  color: #019c7c;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 1rem;
  background-color: rgba(1, 156, 124, 0.2);
  border-radius: 0.5rem;
}
.especialists-grid .userCard .adress {
  margin-bottom: 0.5rem;
}
.especialists-grid .userCard .actions-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  cursor: pointer;
}
.especialists-grid .userCard .actions-container div:hover {
  filter: brightness(1.25);
}

.chatbox-wrapper {
  max-width: 968px;
  margin: 25px auto;
}
.chatbox-wrapper ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.chatbox-wrapper ::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.chatbox-wrapper ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #019c7c;
}
.chatbox-wrapper .chatbox-questions .questions-banner {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 7rem 0;
}
.chatbox-wrapper .chatbox-questions .questions-banner img {
  width: 100px;
  margin-bottom: 1rem;
}
.chatbox-wrapper .chatbox-questions .questions-banner .banner-text {
  color: #019c7c;
}
.chatbox-wrapper .chatbox-questions .question-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.75rem;
  padding: 1.5rem;
  min-height: 100px;
  background-color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}
.chatbox-wrapper .chatbox-questions .question-box:hover {
  background-color: #f5f5f5;
}
.chatbox-wrapper .chatbox {
  width: 100%;
  max-height: 50rem;
  overflow: auto;
}
.chatbox-wrapper .chatbox .message {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 70%;
}
.chatbox-wrapper .chatbox .message .msg-header {
  display: flex;
  align-items: center;
}
.chatbox-wrapper .chatbox .message .msg-header i {
  font-size: 1rem;
  color: #dcdcdc;
  cursor: pointer;
  margin-right: 0.5rem;
}
.chatbox-wrapper .chatbox .message .msg-header i:hover {
  color: #019c7c;
}
.chatbox-wrapper .chatbox .message .msg-separator {
  flex: 1;
}
.chatbox-wrapper .chatbox .message .msg-picture {
  width: 35px;
  border-radius: 999px;
  margin-right: 1rem;
  margin-bottom: 10px;
}
.chatbox-wrapper .chatbox .message .msg-username {
  font-weight: bold;
  color: #000;
}
.chatbox-wrapper .chatbox .message .msg-desc {
  border: 1px solid #ededed;
  padding: 14px;
  border-radius: 10px;
}
.chatbox-wrapper .chatbox .message .msg-date {
  font-size: 12px;
  margin-top: 4px;
}
.chatbox-wrapper .chatbox .user-message {
  margin-left: auto;
}
.chatbox-wrapper .chatbox .user-message .msg-header {
  display: flex;
  justify-content: flex-end;
}
.chatbox-wrapper .chatbox .user-message .msg-date {
  display: flex;
  justify-content: flex-end;
}
.chatbox-wrapper .chatbox .user-message .msg-desc {
  color: white;
  background: #019c7c;
}
.chatbox-wrapper .chatbox .ia-message .msg-desc {
  background-color: #f5f5f5;
}
.chatbox-wrapper .images-preview {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #dcdcdc;
}
.chatbox-wrapper .images-preview .img-wrapper {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  object-fit: cover;
  position: relative;
}
.chatbox-wrapper .images-preview .img-wrapper img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.chatbox-wrapper .images-preview .img-wrapper i {
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  color: #938888;
  font-size: 1.1rem;
  border-radius: 999px;
  background-color: white;
}
.chatbox-wrapper .images-preview .img-wrapper i:hover {
  color: red;
}
.chatbox-wrapper .textarea-wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
}
.chatbox-wrapper .textarea-wrapper .textarea-tools {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.chatbox-wrapper .textarea-wrapper .textarea-tools i {
  font-size: 1.35rem;
  margin: 0 12px;
  cursor: pointer;
}
.chatbox-wrapper .textarea-wrapper .textarea-tools input {
  cursor: pointer;
}
.chatbox-wrapper .textarea-wrapper .textarea {
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  width: 100%;
  height: 75px;
  padding: 10px;
  background-color: #f5f5f5;
}
.chatbox-wrapper .textarea-wrapper .msg-send-button {
  border: none;
  background-color: #f5f5f5;
  font-size: 1.8rem;
  color: #019c7c;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 75px;
  height: 75px;
}

.chatbox-loader {
  text-align: center;
}

.chatbox-loader span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: #019c7c;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}

.chatbox-loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.chatbox-loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=newStyles.css.map */
