@charset "UTF-8";
.carousel-control-prev,
.carousel-control-next {
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5e9eb;
  color: #606060;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.btn-main {
  background: #00a461;
  color: white;
}

.large-btn {
  font-size: 1rem !important;
  min-width: 8rem !important;
  padding: 12px 24px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
}

.rounded-btn {
  border-radius: 999px !important;
}

.text-main {
  color: #00a461;
}

.rounded-full {
  border-radius: 9999px;
}

a {
  color: #00a461 !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  filter: brightness(0.9);
  color: #00a461;
}

.box {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 1rem;
}

.sidebar {
  background: #f8f9fa;
  color: #848484;
  min-height: 100vh;
  width: 12rem;
}
.sidebar .sidebar-logo {
  max-width: 100%;
  width: 6rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.25rem;
}
.sidebar .sidebar-element,
.sidebar .section-label {
  padding-left: 1.5rem !important;
}
.sidebar .section-label {
  font-size: 0.1 0.15rem;
  color: #242424;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
.sidebar .sidebar-element {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
}
.sidebar .sidebar-element i,
.sidebar .sidebar-element svg {
  margin-right: 1rem;
}
.sidebar .subelement {
  font-size: 0.85rem;
  padding: 5px;
}
.sidebar .subelement i,
.sidebar .subelement svg {
  display: none;
}
.sidebar .sidebar-section {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-section .section-header {
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  width: 200px;
  color: #7b8793;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar .sidebar-section .section-header span i,
.sidebar .sidebar-section .section-header span svg {
  padding-right: 0.8rem;
}
.sidebar .sidebar-section .section-header .fa-chevron-right {
  font-size: 0.7rem;
}
.sidebar .sidebar-section .section-header .rotate {
  transform: rotate(90deg);
}
.sidebar .sidebar-section .section-content {
  display: none;
}
.sidebar .selected-item {
  border-left: 5px solid #00a461;
  color: #00a461;
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo i,
.navbar-logo svg {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.profile-content {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}
.profile-content img {
  width: 100%;
  max-width: 3rem;
  aspect-ratio: 1;
  border-radius: 999px;
  margin-right: 0.5rem;
  object-fit: cover;
}
.profile-content h6 {
  margin: 0;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.dashboard-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dashboard-box i,
.dashboard-box svg {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.dashboard-box a {
  flex-basis: 100%;
  padding: 0 !important;
}
.dashboard-box h6 {
  font-weight: bold;
  opacity: 0.75;
}
.dashboard-box h5 {
  font-weight: bold;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  margin-top: 120px;
  border-radius: 10rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.search-container .btn-main {
  margin: 0 !important;
}

.qrcode-text {
  padding-right: 1.7em;
  margin-right: 0;
  border: 1px solid #dcdcdc;
  padding: 0.75rem;
  flex: 1;
}

.qrcode-text-btn {
  display: inline-block;
  background: url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat;
  height: 1em;
  width: 1.7em;
  margin-left: -1.7em;
  cursor: pointer;
  position: relative;
  top: 13px;
  left: -5px;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.btn-main {
  background-color: #00a461;
  color: white;
  border: none;
  padding: 0 2.5rem;
}

.toggleable-box {
  width: 100%;
}
.toggleable-box .box-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.toggleable-box .box-header .header-item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: #838f9b;
  border-bottom: 1px solid #dee2e6;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toggleable-box .box-header .current {
  color: #2197ff !important;
  border-bottom: 1px solid;
}
.toggleable-box .box-body .active-option {
  display: block !important;
}

.toggleable-box .toggleable-content {
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.toggleable-box .toggleable-content .toggleable-item {
  color: #636669;
  background: #fff;
  padding: 10px 2.5rem;
  width: fit-content;
  border: 1px solid #dcdcdc;
  border-width: 1px 1px 0 1px;
  margin-right: 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.toggleable-box .toggleable-content .active-item {
  background: #00a461 !important;
  color: white !important;
}
.toggleable-box .box {
  border-top: 3px solid #00a461;
}
.toggleable-box .box-option {
  display: none;
  padding: 1.5rem 0;
}
.toggleable-box .active-option {
  display: block !important;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}
.info-item label {
  min-width: 10rem;
}
.info-item input {
  flex: 1;
}

.edit-clients-box {
  height: auto !important;
}
.edit-clients-box .img-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}
.edit-clients-box .img-cont img {
  width: inherit;
  margin: 0 auto;
  display: block;
  max-width: 400px;
  object-fit: contain;
  border-radius: 0.5rem;
  overflow: hidden;
}
.edit-clients-box .img-cont input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
}

.btn-cont {
  display: flex;
  justify-content: flex-end;
}
.btn-cont button {
  margin: 5px;
}

.box-sm {
  background: #fff;
  padding: 1.5rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.paciente-box {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.paciente-box img {
  width: 100%;
  border-radius: 999px;
  max-width: 3.5rem;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.carousel {
  position: relative;
}

.carousel-buttons {
  min-height: 5rem;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-item img {
  height: 40rem;
  object-fit: contain;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
  filter: blur(5px);
  height: 5rem;
}

#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
.box-who {
  border: 1px solid #dcdcdc;
}
.box-who i,
.box-who svg {
  font-size: 5rem;
}

.list-content {
  margin-bottom: 10px;
}

.list-content a {
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}

.list-content a[aria-expanded=true] i {
  transform: rotate(180deg);
}

.list-content a i {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}

.perfil-box {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2.5rem;
  margin-top: 30px;
}
.perfil-box .general-box {
  display: flex;
}
.perfil-box .general-box .general-info {
  padding: 0 1.5rem;
  flex: 1;
}
.perfil-box .general-box .general-info .general-item {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  width: 100%;
}
.perfil-box .general-box .general-info .general-item label {
  min-width: 10rem;
}
.perfil-box .general-box img {
  width: 100%;
  max-width: 15rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 8px;
}

.qr-cont {
  width: 280px;
  height: auto;
}

.box-text {
  background: #f5f5f5;
  color: #606060;
  border-radius: 0.75rem;
  border: 1px solid #dcdcdc;
  padding: 1rem;
}

.max-w-400 {
  max-width: 400px;
}

.qr-box {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: content-box;
}

.custom-border {
  position: relative;
  width: 80%;
  aspect-ratio: 1;
  margin: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0;
  box-sizing: content-box;
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
}
.custom-border span {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.custom-border::before, .custom-border::after, .custom-border span::before, .custom-border span::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

.custom-border::before {
  top: -4px;
  left: -4px;
  border-top: 4px solid #00a461;
  border-left: 4px solid #00a461;
}

.custom-border::after {
  top: -4px;
  right: -4px;
  border-top: 4px solid #00a461;
  border-right: 4px solid #00a461;
}

.custom-border span::before {
  bottom: -4px;
  left: -4px;
  border-bottom: 4px solid #00a461;
  border-left: 4px solid #00a461;
}

.custom-border span::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 4px solid #00a461;
  border-right: 4px solid #00a461;
}

.custom-border:hover {
  transform: scale(1.05);
}

.switch + .lable::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: " ";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}

.switch {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.switch + .lable {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}

.switch + .lable::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: " ";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}

.switch:checked + .lable::before {
  display: inline-block;
  content: "\f00c";
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

/* CSS3 on/off switches */
.switch + .lable {
  margin: 0 4px;
  min-height: 24px;
}

.switch + .lable::before {
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 52px;
  text-indent: -21px;
  margin-right: 0;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  top: auto;
}

.switch.switch-bootstrap + .lable::before {
  font-family: FontAwesome;
  content: "\f00d";
  box-shadow: none;
  border-width: 0;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #F2F2F2;
  width: 52px;
  height: 22px;
  line-height: 21px;
  text-indent: 32px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.switch.switch-bootstrap + .lable::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.switch.switch-bootstrap:checked + .lable::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #b7d3e5;
}

.switch-primary > .switch.switch-bootstrap:checked + .lable::before {
  background-color: #337ab7;
}

.switch-success > .switch.switch-bootstrap:checked + .lable::before {
  background-color: #00a461;
}

.switch-danger > .switch.switch-bootstrap:checked + .lable::before {
  background-color: #d9534f;
}

.switch-info > .switch.switch-bootstrap:checked + .lable::before {
  background-color: #5bc0de;
}

.switch-warning > .switch.switch-bootstrap:checked + .lable::before {
  background-color: #f0ad4e;
}

.switch.switch-bootstrap:checked + .lable::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}

:root {
  --main-theme-color:#00a461;
  --main-dark-grey:#586273;
  --main-light-grey: #f5f7fa;
  --main-theme-color-05:#f5f5f5;
  --font-buttons: "Heebo", sans-serif;
  --box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
}

td.active.day,
span.year.active {
  background-color: #00a461 !important;
  background: #00a461 !important;
}

.ui-menu .ui-menu-item {
  box-sizing: border-box;
  padding: 0 !important;
}

/*------------ DATE INPUT -------------*/
.date_time {
  background-color: white;
  width: 150px;
  display: flex;
  align-items: center;
  border-radius: 0.15rem;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 36px;
}

.date_time span {
  background-color: var(--main-light-grey);
  color: #ddd;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  align-items: center;
  border-radius: 0 0.15rem 0.15rem 0;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  height: 36px;
  border-right: none;
}

.date_time input {
  height: 100%;
  width: 150px;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;
  letter-spacing: 3px;
  text-align: center;
  padding-right: 36px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0.15rem;
}

.ui-datepicker {
  margin-top: 5px;
  padding: 0 !important;
  box-shadow: var(--box-shadow);
  border: none;
}

.ui-datepicker .ui-datepicker-header {
  background: none !important;
  border: 0;
  background-color: var(--main-theme-color) !important;
  color: white;
  font-family: var(--font-buttons);
  letter-spacing: 1px;
  font-weight: 100;
  border-radius: 0.15rem 0.15rem 0 0;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background-color: transparent !important;
  border: none !important;
  top: 2px !important;
}

.ui-datepicker a:hover {
  text-decoration: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../images/icons_3/right_arrow_1.svg") !important;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  opacity: 0.4;
}

.ui-datepicker th {
  font-weight: 100 !important;
  font-family: var(--font-buttons);
  font-size: 13px;
  padding: 0.5em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: var(--main-theme-color-05) !important;
  color: grey !important;
  font-family: var(--font-buttons);
  font-weight: 100 !important;
  letter-spacing: 1px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: white !important;
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: white !important;
  background-color: var(--main-theme-color) !important;
}

.ui-datepicker td a.ui-state-hover.ui-state-default {
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
  background-color: white !important;
}

.ui-datepicker td a.ui-state-hover.ui-state-highlight {
  background-color: white !important;
  color: var(--main-theme-color) !important;
  font-weight: normal !important;
}

.ui-datepicker table {
  margin: 0.15em !important;
  width: -webkit-fill-available !important;
}

/*------------ TIME INPUT ------------*/
.ui-timepicker.ui-menu {
  position: absolute !important;
  top: 0 !important;
}

ul.ui-timepicker-viewport {
  width: auto !important;
}

.ui-timepicker-standard {
  margin-top: 5px !important;
  box-sizing: border-box;
  margin-left: 2px !important;
  border-radius: 0.15rem;
  box-shadow: var(--box-shadow);
  border: none !important;
  width: 149px !important;
  padding: 0 !important;
  z-index: 4 !important;
}

.ui-timepicker-standard a {
  padding: 0.3em 0.4em !important;
  text-decoration: none;
  font-family: var(--font-buttons);
  font-size: 13.5px;
  letter-spacing: 1px;
  color: grey !important;
  font-weight: 100;
}

.ui-timepicker-standard a.ui-state-hover {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--main-theme-color-05) !important;
  color: var(--main-theme-color) !important;
}

.ui-timepicker ::-webkit-scrollbar {
  width: 8px;
}

.ui-timepicker ::-webkit-scrollbar-track {
  background: rgba(17, 36, 45, 0.3);
  background-color: var(--main-light-grey);
}

.ui-timepicker ::-webkit-scrollbar-thumb {
  background: #ddd;
}

.ui-timepicker ::-webkit-scrollbar-thumb:hover {
  background: var(--main-theme-color);
}

.combobox {
  position: relative;
  margin-bottom: 30px;
}
.combobox input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}
.combobox ul {
  position: absolute;
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid #ccc;
  z-index: 2;
}
.combobox ul li {
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.combobox ul li p {
  font-size: 12px;
}
.combobox ul li:hover {
  color: white;
  background: #00a461;
}

/*# sourceMappingURL=styles.css.map */
