@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5e9eb;
  color: #606060;
}

* {
  box-sizing: border-box;
}

.btn-main {
  background: #00a461;
  color: white;
}

a {
  color: #00a461 !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  filter: brightness(0.9);
  color: #00a461;
}

.box {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 1rem;
}

.dashboard-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dashboard-box i,
.dashboard-box svg {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.dashboard-box a {
  flex-basis: 100%;
  padding: 0 !important;
}
.dashboard-box h6 {
  font-weight: bold;
  opacity: 0.75;
}
.dashboard-box h5 {
  font-weight: bold;
}

.toggleable-box {
  width: 100%;
}
.toggleable-box .box-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.toggleable-box .box-header .header-item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: #838f9b;
  border-bottom: 1px solid #dee2e6;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toggleable-box .box-header .current {
  color: #2197ff !important;
  border-bottom: 1px solid;
}
.toggleable-box .box-body .active-option {
  display: block !important;
}

.toggleable-box .toggleable-content {
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.toggleable-box .toggleable-content .toggleable-item {
  color: #636669;
  background: #fff;
  padding: 10px 2.5rem;
  width: fit-content;
  border: 1px solid #dcdcdc;
  border-width: 1px 1px 0 1px;
  margin-right: 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.toggleable-box .toggleable-content .active-item {
  background: #00a461 !important;
  color: white !important;
}
.toggleable-box .box {
  border-top: 3px solid #00a461;
}
.toggleable-box .box-option {
  display: none;
  padding: 1.5rem 0;
}
.toggleable-box .active-option {
  display: block !important;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.form-group label {
  min-width: 10rem;
}
.form-group input {
  flex: 1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0.5;
}

.edit-clients-box {
  height: auto !important;
}
.edit-clients-box .img-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.edit-clients-box .img-cont img {
  width: inherit;
  margin: 0 auto;
  display: block;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}
.edit-clients-box .img-cont input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
}

.btn-cont {
  display: flex;
  justify-content: flex-end;
}
.btn-cont button {
  margin: 5px;
}

.profile-content {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}
.profile-content img {
  width: 100%;
  max-width: 3rem;
  aspect-ratio: 1;
  border-radius: 999px;
  margin-right: 0.5rem;
  object-fit: cover;
}
.profile-content h6 {
  margin: 0;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.box-sm {
  background: #fff;
  padding: 1.5rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.paciente-box {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.paciente-box img {
  width: 100%;
  border-radius: 999px;
  max-width: 3.5rem;
  aspect-ratio: 1;
  margin-right: 1rem;
}

/* carousel */
.carousel {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
.box-who {
  border: 1px solid #dcdcdc;
}
.box-who i,
.box-who svg {
  font-size: 5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 10px;
}

/*------------------------*/
input:focus,
button:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}

/*----------step-wizard------------*/
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/*---------signup-step-------------*/
.bg-color {
  background-color: #333;
}

.signup-step-container {
  padding: 150px 0px;
  padding-bottom: 60px;
}

.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 75%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #0e214b;
  font-weight: 500;
  border: 1px solid #ddd;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #0db02b;
  color: #fff;
  border-color: #0db02b;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

.wizard .nav-tabs > li.active > a i {
  color: #0db02b;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}

.wizard .nav-tabs > li a i {
  position: absolute;
  top: -15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}

.wizard h3 {
  margin-top: 0;
}

.prev-step,
.next-step {
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}

.next-step {
  background-color: #0db02b;
}

.skip-btn {
  background-color: #cec12d;
}

.step-head {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.term-check {
  font-size: 14px;
  font-weight: 400;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 38px;
  padding: 0.375rem 0.75rem;
  line-height: 2;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.footer-link {
  margin-top: 30px;
}

.list-content {
  margin-bottom: 10px;
}

.list-content a {
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}

.list-content a[aria-expanded=true] i {
  transform: rotate(180deg);
}

.list-content a i {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fdfdfd;
}

.list-box {
  padding: 10px;
}

.signup-logo-header .logo_area {
  width: 200px;
}

.signup-logo-header .nav > li {
  padding: 0;
}

.signup-logo-header .header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-inline li {
  display: inline-block;
}

.pull-right {
  float: right;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type=checkbox] {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

input[type=checkbox]::before,
input[type=checkbox]::after {
  position: absolute;
  content: "";
  display: inline-block;
}

input[type=checkbox]::before {
  height: 16px;
  width: 16px;
  border: 1px solid #999;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border-radius: 2px;
}

input[type=checkbox]::after {
  height: 5px;
  width: 9px;
  left: 4px;
  top: 4px;
}

input[type=checkbox]:checked::after {
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked::before {
  background-color: #18ba60;
  border-color: #18ba60;
}

@media (max-width: 767px) {
  .sign-content h3 {
    font-size: 40px;
  }

  .wizard .nav-tabs > li a i {
    display: none;
  }

  .signup-logo-header .navbar-toggle {
    margin: 0;
    margin-top: 8px;
  }

  .signup-logo-header .logo_area {
    margin-top: 0;
  }

  .signup-logo-header .header-flex {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
