//General
$main:#00a461;

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#e5e9eb;
    color:#606060;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing:border-box
}

.bold{
    font-weight: bold !important;
}

.icon-hover{
    transition:all .3s ease;
    &:hover{
        color:$main ;
    }
}

.rounded-full{
    border-radius: 9999px !important;
}

.btn-main,
.btn-gray{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.btn-main{
    background: #00a461 !important;
    color: white !important;
    
}

.btn-gray{
    color:#606060;
    background:#f0f0f0;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    .btn{
        margin-left: 5px;
    }
}

a{
    color: $main !important;
    transition:all .3s ease-in-out;
    text-decoration:none;
    cursor:pointer;

    &:hover{
        filter:brightness(.9);
        color:$main;
    }
}

.text-success{
    color: $main !important;
}

.hidden{
    display: none;
}

.pb-24{
    padding-bottom: 6rem !important;
}

.text-lg{
    font-size: 1.15rem !important;
}

//boxes

.box{
  background:#fff;
  border-radius:.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom:1rem;
  overflow: auto;
  height: fit-content;
}

//custom file input

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Buscar";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.new-element-btn{
    border:none;
    text-align: left;
    background: white;
    &:hover{
        color: #00a461;
        i,svg{
            color: #00a461;
        }
    }
}

.scrolleable-textarea{
    height: 8rem;
    overflow: auto;
    resize: none;
}

//tables

#body-sections section{
    max-width: 1920px !important;
    padding: 1.5rem !important;
}

section .custom-table{
    background: white;
    border-radius: .5rem;
    padding: 1rem;
}

.custom-table{
    width:100%;
    background:#fff;
    border-radius: .5rem;
    overflow: hidden;
    padding: 10px 0 0 0  !important;
    th,
    td{
        padding:.75rem 1.25rem !important;
    }

    th{
        color:white !important;
        background-color: #00a461 !important;
    }

    td{
        border-bottom: 1px solid #ededed;
    }

    tr:nth-child(odd){
        td{
            background: #f5f5f5 !important;
        }
    }

    .active-row{
        color:#00a461;
    }
}

//modicar bootstrap 

.form-check-input:checked {
    border-color: #00a461 !important;
    background-color: #00a461 !important;
}