$main: #019c7c;

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bcbcbc;
}

.text-js {
  margin-bottom: 1rem;
}

.typing-animation {
  width: 5px;
  background: #1a9c7c;
  height: 15px;
  animation: typing 0.6s alternate infinite linear;
  color: $main;
  display: inline-block;
}

.typing-animation {
  width: 5px;
  background: #1a9c7c;
  height: 15px;
  animation: typing 0.6s alternate infinite linear;
  color: $main;
  display: inline-block;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.especialists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  .userCard {
    padding: 2.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    img {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border: 8px solid white;
      width: 100%;
      max-width: 10rem;
      border-radius: 999px;
      aspect-ratio: 1;
      object-fit: cover;
    }
    .name {
      margin: 0.5rem 0;
      font-size: 1.15rem;
      font-weight: bold;
    }
    .desc {
      color: #019c7c;
      font-weight: bold;
      width: fit-content;
      margin: 0 auto;
      padding: 4px 1rem;
      background-color: #019c7c33;
      border-radius: 0.5rem;
    }
    .adress {
      margin-bottom: 0.5rem;
    }

    .actions-container {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      cursor: pointer;

      div {
        &:hover {
          filter: brightness(1.25);
        }
      }
    }
  }
}

.chatbox-wrapper {
  max-width: 968px;
  margin: 25px auto;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $main;
  }

  .chatbox-questions {
    .questions-banner {
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      margin: 7rem 0;
      img {
        width: 100px;
        margin-bottom: 1rem;
      }
      .banner-text {
        color: $main;
      }
    }

    .question-box {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 0.75rem;
      padding: 1.5rem;
      min-height: 100px;
      background-color: #fff;
      margin-top: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .chatbox {
    width: 100%;
    max-height: 50rem;
    overflow: auto;

    .message {
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 10px;
      max-width: 70%;
      .msg-header {
        display: flex;
        align-items: center;
        i {
          font-size: 1rem;
          color: #dcdcdc;
          cursor: pointer;
          margin-right: 0.5rem;
          &:hover {
            color: $main;
          }
        }
      }
      .msg-separator {
        flex: 1;
      }
      .msg-picture {
        width: 35px;
        border-radius: 999px;
        margin-right: 1rem;
        margin-bottom: 10px;
      }
      .msg-username {
        font-weight: bold;
        color: #000;
      }
      .msg-desc {
        border: 1px solid #ededed;
        padding: 14px;
        border-radius: 10px;
      }
      .msg-date {
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .user-message {
      margin-left: auto;
      .msg-header {
        display: flex;
        justify-content: flex-end;
      }
      .msg-date {
        display: flex;
        justify-content: flex-end;
      }
      .msg-desc {
        color: white;
        background: $main;
      }
    }

    .ia-message {
      .msg-desc {
        background-color: #f5f5f5;
      }
    }
  }
  .images-preview {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #dcdcdc;
    .img-wrapper {
      width: 70px;
      height: 70px;
      margin-top: 10px;
      margin-right: 10px;
      display: inline-block;
      object-fit: cover;
      position: relative;
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
      i {
        position: absolute;
        top: -7px;
        right: -7px;
        cursor: pointer;
        color: #938888;
        font-size: 1.1rem;
        border-radius: 999px;
        background-color: white;
        &:hover {
          color: red;
        }
      }
    }
  }
  .textarea-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    .textarea-tools {
      display: flex;
      justify-content: center;
      margin-bottom: 1.25rem;
      i {
        font-size: 1.35rem;
        margin: 0 12px;
        cursor: pointer;
      }
      input {
        cursor: pointer;
      }
    }
    .textarea {
      border-radius: 0.5rem 0 0 0.5rem;
      border: none;
      width: 100%;
      height: 75px;
      padding: 10px;
      background-color: #f5f5f5;
    }

    .msg-send-button {
      border: none;
      background-color: #f5f5f5;
      font-size: 1.8rem;
      color: $main;
      border-radius: 0 0.5rem 0.5rem 0;
      width: 75px;
      height: 75px;
    }
  }
}

.chatbox-loader {
  text-align: center;
}
.chatbox-loader span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: $main;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}
.chatbox-loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.chatbox-loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
