//General
$main:#019c7c;

.carousel-control-prev,
.carousel-control-next{
  background:#000;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#e5e9eb;
    color:#6f7c7a;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing:border-box
}

.btn-main{
    background: $main;
    color: white;
}

.large-btn{
  font-size: 1rem !important;
  min-width: 8rem !important;
  //font-weight: 600 !important;
  padding: 12px 24px !important;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px !important;
}

.rounded-btn{
  border-radius: 999px !important;
}

.text-main{
  color: $main;
}

.text-danger{
  color: #dc3545!important;
}

.text-warning{
  color: #f7af3a !important;
}

.text-info{
  color: #0da0f0 !important;
  
}

.rounded-full{
  border-radius: 9999px;
}

.text-sm{
  font-size: .85rem;
}

a{
    color: $main !important;
    transition:all .3s ease-in-out;
    text-decoration:none;
    cursor:pointer;

    &:hover{
        filter:brightness(.9);
        color:$main;
    }
}

.box{
  background:#fff;
  border-radius:.5rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom:1rem;
}

//sidebar


.sidebar{
  background:#f8f9fa;
  color:#848484;
  min-height: 100vh;
  width: 12rem;

  .sidebar-logo{
    max-width:100%;
    width:6.5rem;
    display:block;
    margin:0 auto;
    margin-top: 1rem;
  }

  .sidebar-element,
  .section-label{
    padding-left: 1.5rem !important;
  }
  .section-label{
    font-size:.1.15rem;
    color:rgb(36, 36, 36);
    font-weight:bold;
    margin-bottom:1.5rem;
    margin-top:2.5rem;
  }


  .sidebar-element{
    display:flex;
    align-items:center;
    padding: 10px;
    margin-bottom:.5rem;
    cursor:pointer;
    transition:all .15s ease;
    i,
    svg{
      margin-right:1rem;
    }
  }

  .subelement{
    font-size: .85rem;
    padding:5px;
    i,
    svg{
      display: none;
    }
  }

  @mixin sidebar-children{
    align-items:center;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    width: 200px;
    color: #7b8793;
  }

  .sidebar-section{
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    .section-header{
        @include sidebar-children();
        display:flex;
        justify-content:space-between;
        cursor: pointer;
        span{
            i,
            svg{
                padding-right: .8rem;
            }
        }
        .fa-chevron-right{
            font-size: .7rem;
        }
        .rotate{
            transform: rotate(90deg);
        }
    }
    .section-content{
        display: none;
    }
}

  .selected-item{
    border-left: 5px solid $main ;
    color: $main;
  }
}

//navbar

.navbar{
  .nav-element{
    color: $main;
    cursor:pointer;

  }
}

.navbar-logo{
  display:flex;
  align-items:center;
  i,
  svg{
    margin-right:1rem;
    margin-left:.5rem;
  }
}

.profile-content{
  display:flex;
  align-items:center;
  margin: 0 1.5rem;
  img{
      width: 100%;
      max-width: 3rem;
      aspect-ratio:1;
      border-radius:999px;
      margin-right:.5rem;
      object-fit:cover;
  }

  h6{
    margin:0;
    
  }
}

//footer

.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}

//dashboard

.dashboard-box{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  i,
  svg{
    font-size: 1.5rem;
    margin-right:1.5rem;
  }

  a{
    flex-basis: 100%;
    padding:0 !important;
  }

  h6{
    font-weight: bold;
    opacity: .75;
  }

  h5{
    font-weight: bold;
  }
}

//seccion busqueda por qr

.search-container{
  position:relative;
  width:100%;
  display: flex;
  flex: 1;
  margin-top: 120px;
  border-radius:10rem;
  overflow:hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  .btn-main{
    margin:0 !important;
  }
}

.qrcode-text {
  padding-right:1.7em;
  margin-right:0;
  border:1px solid #dcdcdc;
  padding:.75rem;
  flex:1;

}
.qrcode-text-btn {
  display:inline-block;
   background:url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat;
   height:1em;
   width:1.7em;
   margin-left:-1.7em;
   cursor:pointer;
   position:relative;
   top:13px;
   left:-5px;
}
.qrcode-text-btn > input[type=file] {
  position:absolute;
   overflow:hidden;
   width:1px;
   height:1px;
   opacity:0
}
.btn-main{
  background-color: $main;
  color: white;
  border: none;
  padding: 0 2.5rem;
}

//modal de pacientes

.toggleable-box{
    width:100%;
    .box-header{
        width:100%;
        display:flex;
        justify-content:space-around;
        margin-bottom: 2rem;
        .header-item{
            margin-bottom:.5rem;
            padding-bottom:.5rem;
            color:#838f9b;
            border-bottom:1px solid #dee2e6;
            flex:1;
            text-align:center;
            cursor:pointer;
            transition:all .3s ease-in-out;
        }
    
        .current{
            color: #2197ff !important;
            border-bottom: 1px solid;
        }
    }

    .box-body{
        .active-option{
            display:block !important;
        }
    }
}

.toggleable-box{
    .toggleable-content{
        display:flex;
        width:fit-content;
        cursor:pointer;
        .toggleable-item{
            color: #636669;
            background:#fff;
            padding: 10px 2.5rem;
            width:fit-content;
            border:1px solid #dcdcdc;
            border-width:1px 1px 0 1px;
            margin-right: .4rem;
            border-radius: .5rem .5rem 0 0;
        }
        .active-item{
         background: $main !important;
         color: white !important;
        }
     }
 
    .box{
        border-top: 3px solid $main;
    }
 
    .box-option{
         display: none;
         padding:1.5rem 0;
     }
     
     .active-option{
         display: block !important;
     }
 }
 
.info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom:1px solid #dcdcdc;
    margin-bottom:.75rem;
    padding-bottom:.75rem;


    label{
        min-width: 10rem;
    }

    input{
        flex:1;
    }

}

.edit-clients-box{
    height: auto !important;
    .img-cont{
        display:flex;
        justify-content:center;
        align-content:center;
        position:relative;
        width: 100%;
        height: 100%;
        padding: 0 .5rem;
        img{
            width:inherit;
            margin: 0 auto;
            display: block;
            max-width: 400px;
            //max-height: 400px;
            object-fit: contain;
            border-radius:.5rem;
            overflow:hidden;  
         }
    
         input[type=file]{
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: +99;
            opacity: 0;
         }
    }
}

.btn-cont{
    display:flex;
    justify-content:flex-end;
    button{
        margin: 5px;
    }
}

//lista de pacientes

.box-sm{
    background:#fff;
    padding:1.5rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.paciente-box{
    margin-bottom:.5rem;
    margin-top:.5rem;
    border-radius:.5rem;
    
    img{
        width:100%;
        border-radius:999px;
        max-width:3.5rem;
        aspect-ratio:1;
        margin-right:1rem;

    }
}


//carousel 

.carousel {
  position: relative;
}

.carousel-buttons{
  min-height: 5rem;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}

.carousel-item img {
  height:40rem;
  object-fit:contain;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
  filter: blur(5px);
  height: 5rem;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}


.box-who{
  border:1px solid #dcdcdc;
  i,
  svg{
    font-size: 5rem;
  }
}


//collapsable

.list-content{
	margin-bottom: 10px;
}
.list-content a{
	padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.list-content a i{
	text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}

//seccion perfil paciente

.perfil-box{
  width: 100%;
  max-width: 70rem;
  margin:0 auto;
  padding:2.5rem;
  margin-top: 30px;
  .general-box{
    display:flex;
    .general-info{
      padding:0 1.5rem;
      flex: 1;
      .general-item{
        display: flex;
        align-items:center;
        padding-bottom: .6rem;
        margin-bottom:.6rem;
        width: 100%;
        

        label{
          min-width: 10rem;
        }
      }
    }
    img{
      width: 100%;
      max-width:15rem;
      max-height: 20rem;
      object-fit:cover;
      border-radius: 8px;
    }
  }
}

.qr-cont{
  width: 280px;
  height: auto;
}

.box-text{
  background:#f5f5f5;
  color: #606060;
  border-radius:.75rem;
  border: 1px solid #dcdcdc;
  padding:1rem;
}

.max-w-400{
  max-width:400px ;
}

.qr-box{
  width:100%;
  max-width: 400px;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 auto;
  box-sizing: content-box;
}
.custom-border {
  position: relative;
  width: 80%;
  aspect-ratio: 1;
  margin: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0;
  box-sizing: content-box;
  border: 2px solid transparent;
  transition:all .15s ease-in-out;
  span{
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin:0 auto;
  }
}

.custom-border::before, .custom-border::after, .custom-border span::before, .custom-border span::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

.custom-border::before {
  top: -4px;
  left: -4px;
  border-top: 4px solid $main;
  border-left: 4px solid $main;
}
.custom-border::after {
  top: -4px;
  right: -4px;
  border-top: 4px solid $main;
  border-right: 4px solid $main;
}
.custom-border span::before {
  bottom: -4px;
  left: -4px;
  border-bottom: 4px solid $main;
  border-left: 4px solid $main;
}
.custom-border span::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 4px solid $main;
  border-right: 4px solid $main;
}

.custom-border:hover {
  transform: scale(1.05);
}

@import './Componentes/switch';
@import './Componentes//timePicker';
@import './Componentes/combobox';
@import './Componentes/loader';
@import './Componentes/timeline';
@import './Componentes/plans';