  .vis-item{
    background: #f9f9f9 !important;
    border: 1px solid #ededed !important;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
    font-size: 14px !important;
  }

  .timeline-imp{
    min-width: 9rem;
    text-align: left;
    color: $main;
    font-size: .8rem;
    i,
    svg{
      margin-right:.25rem !important;
    }
  }

  .timeline-description{
    text-align:left;
    color: #606060;
    margin: .5rem 0;
  }

  .timeline-time{
    font-size:.75rem;
    color: #7f9d97;
  }

  .vis-time-axis .vis-text{
    color:#606060 !important;
  }

  .status-poco-importante{
    .timeline-imp{
      color: $main !important;
    }
  }

  .status-moderado{
    .timeline-imp{
      color:#0da0f0 !important;
    }
  }

  .status-importante{
    .timeline-imp{
      color:#f7af3a !important;
    }
  }